{% comment %}
  announcement bar with logo, message and cta button
{% endcomment %}

{% liquid
  assign blocks = section.blocks
  assign settings = section.settings
%}

{{ 'ec-custom-css.css' | asset_url | stylesheet_tag }}

<style>
  .ec_header {
      background: {{ settings.background }};
      padding-block: {{ settings.padding_block }}px;
      font-family: "Jost", sans-serif;
  }
  .ec_header--content-mobile{
        background: {{ settings.background }};
  }
</style>

{% stylesheet %}
{% endstylesheet %}

<section class="ec_header" id="ec-header-{{ section.id }}">
  <div class="container page-width">
    <div class="ec_header--content {% unless blocks.size > 1 %}justify-center{% endunless %}">
      {% comment %} mobile humberger {% endcomment %}

      <button class="ec_header--mobile--nav">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2 6C2 5.44772 2.44772 5 3 5H21C21.5523 5 22 5.44772 22 6C22 6.55228 21.5523 7 21 7H3C2.44772 7 2 6.55228 2 6Z" fill="#000000"/>
          <path d="M2 12C2 11.4477 2.44772 11 3 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H3C2.44772 13 2 12.5523 2 12Z" fill="#000000"/>
          <path d="M3 17C2.44772 17 2 17.4477 2 18C2 18.5523 2.44772 19 3 19H21C21.5523 19 22 18.5523 22 18C22 17.4477 21.5523 17 21 17H3Z" fill="#000000"/>
        </svg>
        <svg
          class="menu-open"
          width="20px"
          height="20px"
          viewBox="0 -0.5 25 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M6.96967 16.4697C6.67678 16.7626 6.67678 17.2374 6.96967 17.5303C7.26256 17.8232 7.73744 17.8232 8.03033 17.5303L6.96967 16.4697ZM13.0303 12.5303C13.3232 12.2374 13.3232 11.7626 13.0303 11.4697C12.7374 11.1768 12.2626 11.1768 11.9697 11.4697L13.0303 12.5303ZM11.9697 11.4697C11.6768 11.7626 11.6768 12.2374 11.9697 12.5303C12.2626 12.8232 12.7374 12.8232 13.0303 12.5303L11.9697 11.4697ZM18.0303 7.53033C18.3232 7.23744 18.3232 6.76256 18.0303 6.46967C17.7374 6.17678 17.2626 6.17678 16.9697 6.46967L18.0303 7.53033ZM13.0303 11.4697C12.7374 11.1768 12.2626 11.1768 11.9697 11.4697C11.6768 11.7626 11.6768 12.2374 11.9697 12.5303L13.0303 11.4697ZM16.9697 17.5303C17.2626 17.8232 17.7374 17.8232 18.0303 17.5303C18.3232 17.2374 18.3232 16.7626 18.0303 16.4697L16.9697 17.5303ZM11.9697 12.5303C12.2626 12.8232 12.7374 12.8232 13.0303 12.5303C13.3232 12.2374 13.3232 11.7626 13.0303 11.4697L11.9697 12.5303ZM8.03033 6.46967C7.73744 6.17678 7.26256 6.17678 6.96967 6.46967C6.67678 6.76256 6.67678 7.23744 6.96967 7.53033L8.03033 6.46967ZM8.03033 17.5303L13.0303 12.5303L11.9697 11.4697L6.96967 16.4697L8.03033 17.5303ZM13.0303 12.5303L18.0303 7.53033L16.9697 6.46967L11.9697 11.4697L13.0303 12.5303ZM11.9697 12.5303L16.9697 17.5303L18.0303 16.4697L13.0303 11.4697L11.9697 12.5303ZM13.0303 11.4697L8.03033 6.46967L6.96967 7.53033L11.9697 12.5303L13.0303 11.4697Z" fill="#000000"/>
        </svg>
      </button>

      {% if blocks.size > 0 %}
        {% for block in blocks %}
          {% if block.type == 'ec_logo' %}
            {% if block.settings.logo != blank %}
              <div class="ec_header--logo" style="width: {{ block.settings.logo_width }}px">
                {{ block.settings.logo | image_url: width: 200 | image_tag: class: 'image-fluid' }}
              </div>
            {% else %}
              <div class="ec_header--logo">
                {{ shop.name }}
              </div>
            {% endif %}
          {% endif %}
          {% if block.type == 'ec_message' %}
            <div class="ec_header--message">
              {{ block.settings.message }}
            </div>
          {% endif %}
          {% if block.type == 'ec_cta' %}
            <div class="ec_header--cta">
              {% if block.settings.url != blank %}
                <a class="btn btn-secondary" href="{{ block.settings.url }}">
                  <span class="btn--text">
                    {{ block.settings.url_text }}
                  </span>
                  {% if block.settings.btn_icon != blank %}
                    {{ block.settings.btn_icon }}
                  {% endif %}
                </a>
              {% endif %}
            </div>
          {%- endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% if blocks.size > 0 %}
  <div class="ec_header--content-mobile" id="ec_announcement--mobile">
    {% for block in blocks %}
      {% if block.type == 'ec_message' %}
        <div class="ec_header--message-mobile">
          {{ block.settings.message }}
        </div>
      {% endif %}
      {% if block.type == 'ec_cta' %}
        <div class="ec_header--cta-mobile">
          {% if block.settings.url != blank %}
            <a class="btn btn-secondary" href="{{ block.settings.url }}">
              <span class="btn--text">
                {{ block.settings.url_text }}
              </span>
              {% if block.settings.btn_icon != blank %}
                {{ block.settings.btn_icon }}
              {% endif %}
            </a>
          {% endif %}
        </div>
      {%- endif %}
    {% endfor %}
  </div>
{% endif %}

<script>
  const humberger = document.querySelector('.ec_header--mobile--nav');
  const mobile_announcement_bar = document.getElementById('ec_announcement--mobile');

  document.addEventListener('DOMContentLoaded', function () {
    function handleMobileANCBar() {
      if (!humberger) return;
      if (!mobile_announcement_bar) return;
      humberger.addEventListener('click', function (e) {
        e.preventDefault();
        humberger.classList.toggle('is-active');
        mobile_announcement_bar.classList.toggle('is-active');
      });
    }
    handleMobileANCBar();
  });
</script>

{% schema %}
{
  "name": "EC Announcement Bar",
  "settings": [
    {
      "type": "header",
      "content": "UI Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#F5F5F5"
    },
    {
      "type": "range",
      "id": "padding_block",
      "label": "Padding Block",
      "min": 2,
      "max": 30,
      "step": 2,
      "default": 4
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "ec_logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Select a Logo"
        },
        {
          "type": "range",
          "id": "logo_width",
          "label": "Logo Width",
          "info": "180x60px is ideal",
          "min": 60,
          "max": 200,
          "default": 60,
          "step": 20
        }
      ]
    },
    {
      "type": "ec_message",
      "name": "message",
      "settings": [
        {
          "type": "richtext",
          "id": "message",
          "label": "Write Announcement",
          "default": "<p>Find the ideal gift for your loved ones.</p>"
        }
      ]
    },
    {
      "type": "ec_cta",
      "name": "CTA",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Select URL",
          "default": "/"
        },
        {
          "type": "textarea",
          "id": "btn_icon",
          "label": "Button Icon",
          "info": "Paste icon SVG code"
        },
        {
          "type": "text",
          "id": "url_text",
          "label": "URL Text",
          "default": "choose gift"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "EC Accnouncement Bar",
      "blocks": [
        {
          "type": "ec_logo"
        },
        {
          "type": "ec_message"
        },
        {
          "type": "ec_cta"
        }
      ]
    }
  ]
}
{% endschema %}
